@import '../../../styles/main.scss';

.addtask {
    &__label {
        font-size: 1.1rem;
        font-weight: 700;
        display: block;
    }
    &__input {
        outline: none;
        margin-right: 0.8rem;
        border: 0;
        border-bottom: 1px solid $token-grey-color;
        width: 80%;
        height: 30px;
    }
    &__input:focus {
        border-bottom: 1px solid $token-black-color;
    }
    &__button {
        border: 1px solid $token-black-color;
        background-color: transparent;
        width: 15%;
        height: 30px;
        box-sizing: content-box;
        font-size: 0.9rem;
    }
    &__button:hover,
    &__button:focus {
        border: 1px solid $token-black-color;
        background-color: $token-black-color;
        color: $token-white-color;
    }
}
